<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="newfi.css">
    <link rel="stylesheet" href="newf.css">

</head>

<body>
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><b>EVENTFULL</b></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">

                    {{#if user}}
                        <!--<li><a href="/browse">Browse Events</a></li>-->
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{user.first_name}} {{user.last_name}}
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/saved">Saved</a></li>
                                <li><a href="/account">Account Settings</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>


                    {{else}}

                        <li><a href="signup.html"><span class="glyphicon glyphicon-user"></span> Sign Up </a></li>
                        <li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    {{/if}}
                </ul>
            </div>

        </div>
    </nav>
</header>
<div class="containing">
    <div class="c1">
        <div class="c11"><h2 class="acc_set"><b>Social Settings</b></h2></div>
        {{#if user}}
            <div class="c12"><div class="c122">EventFull account since {{user.date_account_created}}</div></div>
        {{/if}}

    </div>
    <div class="c2">
        <div class="c21">
            <div class="side-nav side-nav__toggle-view ">
                <div class="side-nav__group">
                    <h3 class="acc_buttt3" onclick="clicked_toggle2()">
                        <span class="glyphicon glyphicon-user acc_buttt1"></span>Account<span class="glyphicon glyphicon-chevron-up" id="acc_buttt22"></span>
                    </h3>
                    <div class="dis1">
                        <ul class="side-nav__subheader">
                            <li class="">
                                <a href="/contact" data-automation="contact-info">
                                    Contact Info
                                </a>
                            </li>
                            <li class="">
                                <a href="/password" data-automation="password-tab">
                                    Password
                                </a>
                            </li>
                            <li class="">
                                <a href="/socialSettings" data-automation="social-settings">
                                    Social Settings
                                </a>
                            </li>

                            <li class="">
                                <a href="closeAccount" data-automation="close-account">
                                    Close Account
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="side-nav__group">
                    <h3 class="acc_buttt" onclick="clicked_toggle()">
                        <span class="glyphicon glyphicon-calendar acc_buttt1"></span>Payments<span class="glyphicon glyphicon-chevron-down" id="acc_buttt2"></span>
                    </h3>
                    <div class="dis2">
                        <ul class="side-nav__subheader">

                            <li class="">
                                <a href="/payout" data-automation="payouts-summary">
                                    Payment Summary
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="c22">
            <div class="acc_infor">
                <h1><b>Account Information</b></h1>
                <hr>
                <div><h3>Account email address</h3></div>
                {{#if user}}
                    <div><h5>{{user.username}}</h5></div>
                {{/if}}

            </div>
        </div>
    </div>
</div>
<div class="closing_chat" onclick="done_d()">CHATBOT MESSENGER</div>
<div id='bodybox'>

    <div id='chatborder'>
        <p id="chatlog7" class="chatlog">&nbsp;</p>
        <p id="chatlog6" class="chatlog">&nbsp;</p>
        <p id="chatlog5" class="chatlog">&nbsp;</p>
        <p id="chatlog4" class="chatlog">&nbsp;</p>
        <p id="chatlog3" class="chatlog">&nbsp;</p>
        <p id="chatlog2" class="chatlog">&nbsp;</p>
        <p id="chatlog1" class="chatlog">&nbsp;</p>
        <input type="text" name="chat" id="chatbox" placeholder="Hi there! Type here to talk to me." onfocus="placeHolder()">
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhbDk6sYpBA7eh4K4TMzgrY8--KXQmh68&v=3.exp&libraries=places"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
<script src="newfile.js"></script>
<script src="newff.js"></script>

</body>
</html>